name = "pypi"

[packages]
requests = "*"
oracledb = "*"
urllib3 = "*"
idna = "*"
cffi = "*"
certifi = "*"
charset-normalizer = "*"
cryptography = "*"
pyjwt = "*"
pycparser = "*"

[dev-packages]
pytest-cov = "*"

[requires]
python_version = "3.13"